@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Outside</h5>
                    <h1>@Model.OutsideTemp °</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inside</h5>
                    <h1>@Model.InsideTemp °</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">System State</h5>
                    <h1>@Model.BatteryState</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Battery</h5>
                    <h1>@Model.BatteryCharge V</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Panel Voltage</h5>
                    <h1>@Model.PanelVoltage V</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Amp Hours</h5>
                    <h1>@Model.AmpHours Ah</h1>
                </div>
            </div>
        </div>
    </div>
</div>